
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif; 
}

* {
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:96vh;
    font-family: 'Inter', sans-serif; 
}


.login-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    height: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 470px;
    margin-top: 0%;
    text-align: left;
    position: relative;
}


.welcome-text {
    color: #533C56;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    margin-left: 2%;
    font-size: 32px;
     margin-top: 3%;
    line-height: 48px; 
}


.welcome-paragraph {
    color: #666;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}


.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}


.login-box input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    box-sizing: border-box;
}


.password-input {
    padding-right: 2.5rem; 
}


.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #000; 
}


.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap; 
}


.checkbox-container input {
    margin-right: 0.5rem;
}


.remember-me-text {
    font-size: 14px;
    font-family: 'Inter', sans-serif; 
    font-weight: 600;
    white-space: nowrap; 
}


.forgot-password {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.forgot-link {
    color: orange;
    font-size: 12px;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}


.login-box .login-btn {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #533C56;
    background-color: #533C56;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    transition: background-color 0.3s, opacity 0.3s;
    margin-top: 1rem;
}


.login-box .login-btn:hover {
    background-color: #6d4c6c;
}


.signup-link {
    text-align: center;
    margin-top: 1rem;
    color: #533C56;
    font-size: 14px;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
}

.signup-link-orange {
    color: orange; 
    text-decoration: none;
}

.signup-link-orange:hover {
    text-decoration: underline;
}


.or-login {
    margin-top: 1rem;
    font-size: 14px;
    color: #666;
    text-align: center;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
}


.social-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.social-buttons .social-btn {
    width: 48%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity 0.3s;
    border-radius: 5px;
}


.social-buttons .social-btn:hover {
    opacity: 0.9;
}


.social-logo {
    width: 44px;
    height: 31px; 
}


@media (max-width: 768px) {
    .login-box {
        width: 80%;
        margin: 2rem;
    }

    .login-box input {
        font-size: 14px;
    }

    .login-box .login-btn {
        font-size: 14px;
    }

    .social-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-buttons .social-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .login-box {
        width: 90%;
    }

    .toggle-password {
        right: 15px;
        font-size: 16px;
    }

    .login-box input {
        font-size: 14px;
    }
}
